[Unit]
Description=Moebius memory usage sensor (for web)

[Service]
ExecStart=@BINDIR@/meminfoweb
Restart=always

[Install]
WantedBy=multi-user.target
